/* Koko Box */
.loginBox1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.loginBox1.grow {
    animation: grow 1s;
}

@keyframes grow {
    0% {
        transform: scale(.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes FadeIn {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.loginBox1.reverse {
    flex-direction: row-reverse; 
}

/* Log in box */
.loginBox2 {

    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 24px;
    border-radius: 8px;
    justify-content: center;
    background: radial-gradient(circle at bottom, #212B39, #121212);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16)
}

.loginBox2.slide-left {
    animation: slideInFromLeft 0.5s ease-out;
}

.loginBox2.slide-right {
    animation: slideInFromRight 0.5s ease-out;
}

/* Teksti Box */
.loginBox3 {
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 24px;
    animation: FadeIn 0.5s ease-out;
}

.Stockfolio {
    color: whitesmoke;

}

h3 {
    color: whitesmoke;
}

.link1 {
    color: whitesmoke;
    margin-bottom: -8px;
}

.link2 {
    color: whitesmoke;
}



.pCreateAccount {
    padding-left: 24px;
    align-self: flex-start;
}

.textField {
    background-color: #121212 !important;
    width: 300px !important;
}

.textField .MuiInputBase-root {
    height: 40px !important;
}

.textField input::placeholder {
    color: grey;
    opacity: 1;
}

.textField input {
    color: whitesmoke;
}


.btn-grad1 {
    background-color: whitesmoke !important;
    color: #212B39 !important;
    width: 300px;
    height: 40px;
}

.btn-grad1:hover {
    background-position: right center;
    background-color: #212B39 !important;
    color: whitesmoke !important;
}

.btn-grad2 {
    color: whitesmoke !important;
    width: 150px;
    height: 40px;
}

.btn-grad2:hover {
    background-color: #3e9c35 !important;
}