/* Koko Box */
.loginBox1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

/* Log in box */
.loginBox2 {

    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 24px;
    border-radius: 8px;
    justify-content: center;
    background: radial-gradient(circle at bottom, #212B39, #121212);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16)
}

/* Teksti Box */
.loginBox3 {
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 24px;
    border-radius: 8px;
}

h1 {
    color: whitesmoke;
}

h3 {
    color: whitesmoke;
}

.textField {
    background-color: black !important;
    width: 300px !important;
}

.textField .MuiInputBase-root {
    height: 40px !important;
}

.textField input::placeholder {
    color: grey;
    opacity: 1;
}

.textField input {
    color: whitesmoke;
}


.btn-grad {
    background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%)
}

.btn-grad {
    width: 300px;
    height: 40px;
    transition: background-position 10s, color 15s;
    background-size: 200% auto;
    display: block;
    color: whitesmoke !important;
}

.btn-grad:hover {
    background-position: right center;
}