/* Koko Box */
.loginBox1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

/* Log in box */
.loginBox2 {

    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 24px;
    border-radius: 8px;
    justify-content: center;
    background: #121212;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16)
}

/* Teksti Box */
.loginBox3 {
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 24px;
    border-radius: 8px;
}

h1 {
    color: whitesmoke;
}

h3 {
    color: whitesmoke;
}

.textField {
    background-color: black !important;
    width: 300px !important;
}

.textField .MuiInputBase-root {
    height: 40px !important;
}

.textField input::placeholder {
    color: grey;
    opacity: 1;
}

.textField input {
    color: whitesmoke;
}

.loginButton {
    background-color: whitesmoke !important;
    color: #121212 !important;
    width: 300px !important;
    height: 40px;
}

.loginButton:hover {
    background-color: #03346e !important;
    color: whitesmoke !important;
}